<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Marazul</title>

  <!-- Metadata -->
  {% seo %}

  <!-- Favicon -->
  <link rel="icon" href="/img/logos/logo.ico">

  <!-- Core Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- Responsive CSS -->
  <link href="/css/responsive/responsive.css" rel="stylesheet">
  <link href="/css/responsive/responsive.css" rel="stylesheet">
  <link href="/css/tipueslide/tipueslide.css" rel="stylesheet">
  <link href="/css/tipuesearch/tipuesearch.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">




</head>
<body>
  <div class="tipue-slide-toggle tipue-slide-screen"></div><div id="tipue-slide"></div>

  <!-- Preloader -->
  <div id="preloader">
    <div class="dorne-load"></div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header_area" id="header">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 h-100">
          {% include navigation.html %}
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


  {{ content }}





  <!-- footer ================================================== -->
  <footer class="s-footer footer" id="contacto">
    <div class="container-fluid">
      <div class="row footer__top">

        <div class="col-lg-6">
          <div class="wow" data-wow-delay="0.2s">
            <h1 class="display-2">
              Hay que mantenernos en contacto.
            </h1>
            <p class="lead">
              Suscríbete para recibir ofertas especiales.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="wow" data-wow-delay="0.3s">
            <div class="footer__subscribe end">
              <div class="subscribe-form">
                <form id="mc-form" class="group" novalidate="true">
                  <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Correo electrónico" required="">
                  <input type="submit" name="subscribe" value="RECIBIR OFERTAS">
                  <label for="mc-email" class="subscribe-message"></label>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="wow" data-wow-delay="0.3s">
            <div class="footer__logo">
              <a href="/index.html">
                <img class="zoom" src="/img/logos/logo.svg" alt="Homepage">
              </a>
            </div>
            <span>
              <a href="https://goo.gl/maps/21PKojJBJkC2" target="_blank">
                Hilario Malpica No. 33, Fracc. Costa Azul, Acapulco Gro.
              </a>
              <br>
              Tel: (744) 104 0619
            </span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="wow display" data-wow-delay="0.3s">
            <p class="footer__contact">
              Deseas información sobre nuestros productos? Envíanos un correo ;) <br>
              <a href="mailto:male.muce@gmail.com" class="footer__mail-link">male.muce@gmail.com</a>
            </p>
            <div class="social-icons">
              <a href="https://www.facebook.com/casasmarazul/" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.facebook.com/casasmarazul/" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/casasmarazul/" target="_blank">
                <i class="fa fa-facebook-f"></i>
              </a>
              <a href="https://wa.me/5217441040619/" target="_blank">
                <i class="fa fa-whatsapp"></i>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>


  </footer>

  <!-- end footer ================================================== -->


  <!-- jQuery-2.2.4 js -->
  <script src="/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap-4 js -->
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="/js/others/plugins.js"></script>
  <!-- Fancy-box js -->
  <script src="/js/others/jquery.fancybox.min.js"></script>
  <!-- Tipue js -->
  <script src="/js/tipueslide/tipueslide_content.js"></script>
  <script src="/js/tipueslide/tipueslide.js"></script>
  <script src="/js/tipuesearch/tipuesearch_set.js"></script>
  <script src="/js/tipuesearch/tipuesearch.min.js"></script>

  <!-- Active JS -->
  <script src="/js/active.js"></script>

</body>
</html>
