<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Marazul</title>

  <!-- Metadata -->
  {% seo %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134999680-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134999680-1');
  </script>


  <!-- Favicon -->
  <link rel="icon" href="/img/logos/logo.ico">

  <!-- Core Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- Responsive CSS -->
  <link href="/css/responsive/responsive.css" rel="stylesheet">
  <link href="/css/responsive/responsive.css" rel="stylesheet">
  <link href="/css/tipueslide/tipueslide.css" rel="stylesheet">
  <link href="/css/tipuesearch/tipuesearch.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">




</head>
<body>
  <div class="tipue-slide-toggle tipue-slide-screen"></div><div id="tipue-slide"></div>

  <!-- Preloader -->
  <div id="preloader">
    <div class="dorne-load"></div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header_area" id="header">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 h-100">
          {% include navigation.html %}
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


  {{ content }}





  <!-- footer ================================================== -->
  <footer class="s-footer footer" id="contacto">
    <div class="container-fluid">
      <div class="row footer__top">

        <div class="col-lg-6">
          <div class="wow" data-wow-delay="0.2s">
            <h1 class="display-2">
              Hay que mantenernos en contacto.
            </h1>
            <p class="lead">
              Suscríbete para recibir ofertas especiales.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="wow" data-wow-delay="0.3s">
            <div class="footer__subscribe end">
              <div class="subscribe-form">
                <form action="https://facebook.us20.list-manage.com/subscribe/post?u=239de38544c2f672ce1dac51c&amp;id=b32e2c8035" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">

                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Correo electrónico">
                    </div>
                    <div class="clear"><input type="submit" value="RECIBIR OFERTAS" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_239de38544c2f672ce1dac51c_b32e2c8035" tabindex="-1" value=""></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
        </div>
        <!--End mc_embed_signup-->

        <div class="col-lg-6">
          <div class="wow" data-wow-delay="0.3s">
            <div class="footer__logo">
              <a href="/index.html">
                <img class="zoom" src="/img/logos/logo.svg" alt="Homepage">
              </a>
            </div>
            <span>
              <a href="https://goo.gl/maps/21PKojJBJkC2" target="_blank">
                Hilario Malpica No. 33, Fracc. Costa Azul, Acapulco Gro.
              </a>
              <br>
              Tel: (744) 104 0619
            </span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="wow display" data-wow-delay="0.3s">
            <p class="footer__contact">
              Deseas información sobre nuestros productos? Envíanos un correo ;) <br>
              <a href="mailto:male.muce@gmail.com" class="footer__mail-link">male.muce@gmail.com</a>
            </p>
            <div class="social-icons">
              <a href="https://www.facebook.com/casasmarazul/" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.facebook.com/casasmarazul/" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/casasmarazul/" target="_blank">
                <i class="fa fa-facebook-f"></i>
              </a>
              <a href="https://wa.me/5217441040619/" target="_blank">
                <i class="fa fa-whatsapp"></i>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>


  </footer>

  <!-- end footer ================================================== -->


  <!-- jQuery-2.2.4 js -->
  <script src="/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap-4 js -->
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="/js/others/plugins.js"></script>
  <!-- Fancy-box js -->
  <script src="/js/others/jquery.fancybox.min.js"></script>
  <!-- Tipue js -->
  <script src="/js/tipueslide/tipueslide_content.js"></script>
  <script src="/js/tipueslide/tipueslide.js"></script>
  <script src="/js/tipuesearch/tipuesearch_set.js"></script>
  <script src="/js/tipuesearch/tipuesearch.min.js"></script>

  <!-- Active JS -->
  <script src="/js/active.js"></script>

  <!-- Mailchimp form -->
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

</body>
</html>
